[2016-11-13 19:09] Silv3rcircl3 opened #1 "Port all modules from the JVM"
If possible we should port all available modules from the JVM.

- [x] AMQP
- [ ] Cassandra
- [ ] File
- [ ] MQTT

[2016-11-20 08:05] rogeralsing opened #3 "Relation between Akka.NET and Petabridge"
I want to make a statement here.
The Akka.NET project and organization is a separate entity from Aarons Petabridge.
I personally love what you @Aaronontheweb are doing and I am impressed with the success you have had.

But, when things like this `The Petabridge subscription does not cover support for these modules` sneak into the documentation and organizational repos, then the boundaries have bec

[2016-11-20 14:33] Silv3rcircl3 commented on #3
Just for clarification, the same line exists in the jvm repo and therefore I kept it and replaced Lightbend with Petabridge, there was no request from Aaron to add it.

Regarding you statement, I agree that this should be removed and handled separately. Wasn't clear to me while I created the repo, haven't even thought about it, so maybe that's a good opportunity to get it straight.

[2016-11-20 16:09] rogeralsing commented on #3
No worries, and I didn't think there was any malice to it.
But I see a lot of confusion from users on where the boundaries are, so I just think it is important to be explicit about this, thats all :-)

[2017-02-02 09:27] Horusiath opened #4 "Akka.Streams.SignalR"
I think, that good idea would be to add a source/sink support for SignalR. Ideally it should also cover a reactive streams API back to the client side - RxJs already implemented reactive-streams compliant API in form of [controlled observables](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/gettingstarted/backpressure.md#controlled-observables).

[2017-04-02 18:10] #3 closed

[2017-04-06 15:23] Aaronontheweb commented on #4
@Horusiath you should flesh out this README here with some instructions: https://github.com/akkadotnet/Alpakka/blob/dev/SignalR/README.md

[2017-04-07 13:51] alexvaluyskiy commented on #4
Closed https://github.com/akkadotnet/Alpakka/pull/8

[2017-04-07 13:51] #4 closed

[2017-04-07 13:53] alexvaluyskiy opened #9 "RabbitMQ sink and source"
It is possible to use the scala version as a source
https://github.com/akka/alpakka/tree/master/amqp/src

This nuget package could be used: https://www.nuget.org/packages/RabbitMQ.Client

[2017-04-07 13:59] alexvaluyskiy opened #10 "Kafka sink and source"
This scala module could be used as a source: https://github.com/akka/reactive-kafka

This Kafka client is the best for .NET https://www.nuget.org/packages/Confluent.Kafka/

[2017-04-07 14:01] alexvaluyskiy commented on #1
Why should we port all available modules from JVM? .NET world is too different from Java world

[2017-06-01 15:22] SeanFarrow commented on #1
I'm happy to port the sqs/sns module as I'll be needing this in a project. would a pr be accepted?

[2017-06-01 15:33] Silv3rcircl3 commented on #1
@seanfarrow Sure !

[2017-06-01 15:44] SeanFarrow commented on #1
Hi Marc,
How do we deal with the java/scala dsls, should we port as-is?
I notice they use Mokito when mocking things, what mocking framework do you prefer?

From: Marc Piechura [mailto:notifications@github.com]
Sent: Thursday, June 01, 2017 16:34
To: akkadotnet/Alpakka <Alpakka@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [ak

[2017-06-01 16:30] Silv3rcircl3 commented on #1
@seanfarrow I would say stay as close as possible to the jvm version, but if some things don't make sense in .net or need to be handled differently feel free to make those changes.

Regarding mocking, take what you like, we don't use mocking inside the core repo so we don't have a preference.

[2017-06-01 16:48] SeanFarrow commented on #1
Ok, that’s fine, the only issue is the fact that the jvm version of the sqs stream things uses ElasticMQ which is java only to mock the sqs transport, should we just use the real one? If yes, what account should we use?

From: Marc Piechura [mailto:notifications@github.com]
Sent: Thursday, June 01, 2017 17:31
To: akkadotnet/Alpakka <Alpakka@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarr

[2017-06-01 17:45] Silv3rcircl3 commented on #1
Is it possible to have a local instance you can use? If not, just port the tests, try it with some evaluation account and push it without automated tests.

[2017-06-01 17:57] SeanFarrow commented on #1
The closest to a local instance is using ElasticMQ, let me see if we can run that from java in .net, may require a wcf service.

From: Marc Piechura [mailto:notifications@github.com]
Sent: Thursday, June 01, 2017 18:46
To: akkadotnet/Alpakka <Alpakka@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [akkadotnet/Alpakka] Port all m

[2017-06-01 18:02] Silv3rcircl3 commented on #1
If it's to complicated, no worries, those connectors don't have the same "guarantees" as the core repo (see also the readme) and therefore don't neccarrily need a proper CI infrastructure.

[2017-06-01 18:11] SeanFarrow commented on #1
Yes, but the project I’m working on need most things to be tested, so it would be nice to have that!
It looks pretty simple anyway, it just requires java installed and java home to be set up.
I’ll push without porting the tests first, then port the tests at a later date.
We can always leave the pull request open and merge certain things.
Cheers
Sean.

From: Marc Piechura [mailto:notifications@gith

[2017-06-01 18:13] Silv3rcircl3 commented on #1
Sounds good!

[2017-06-02 15:57] SeanFarrow commented on #1
Hi,

I’ve got the following scala code I’m trying to convert:
    Await.result(future, 1.second) mustBe publishResult :: Nil
How does this convert to c#/akka streams?
Cheers
Sean.
From: Marc Piechura [mailto:notifications@github.com]
Sent: Thursday, June 01, 2017 19:13
To: akkadotnet/Alpakka <Alpakka@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.githu

[2017-06-02 16:07] Silv3rcircl3 commented on #1
Task.Wait(TimeSpan.FromSeconds(1)).Should().BeTrue();
publishResult.Add(null);
Task.Result.Should().BeEquivalentTo(publishResult);

Maybe the gitter room would be a better place for those questions ;-)

[2017-07-08 13:14] SeanFarrow commented on #1
Just a thought, should we add some CI around this repo?
Given that we have tests, it would be good if we were able ot run things like akka.net does on pr's.

[2017-07-08 13:34] Arkatufus commented on #1
There's a plan to set CI for Akka.net contrib, which is where this project will be moved, eventually.
Right now we're a bit busy maintaining 1.2.3 and preparing for 1.3.0

[2017-07-08 13:45] SeanFarrow commented on #1
Happy to help maintain this as we’re using/converting a lot of the scala code,  if an extra pair of hands would be useful.

From: Gregorius Soedharmo [mailto:notifications@github.com]
Sent: Saturday, July 08, 2017 14:34
To: akkadotnet/Alpakka <Alpakka@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [akkadotnet/Alpakka] Port all

[2018-01-16 12:14] vasily-kirichenko opened #20 "AMQP Source manual ack"
Current implementation acks messages as soon as it pushed them downstream, which is not what I want. I need to be on control of acking each message manually, in some of downstream stages or outside the stream (e.g. in an independent actor):

https://github.com/AkkaNetContrib/Alpakka/blob/1a6a51c562e44143d0eb0f1cb175316494ed0d6a/Amqp/src/Akka.Streams.Amqp/AmqpSourceStage.cs#L136

Scala Alpakka was

[2018-01-16 13:27] vasily-kirichenko commented on #20
WIP https://github.com/AkkaNetContrib/Alpakka/pull/21

[2018-01-16 13:27] #20 closed, assigned to nobody

[2018-01-17 17:00] vasily-kirichenko commented on #9
As it's fully implemented now, I think we can close this issue.

[2018-01-17 17:02] vasily-kirichenko opened #22 "Publish AMQP NuGet package"
Please, publish the AMQP package.

[2018-01-17 17:08] #9 closed

[2018-01-17 17:09] vasily-kirichenko commented on #22
Found them https://www.nuget.org/profiles/AkkaNetContrib

[2018-01-17 18:53] vasily-kirichenko opened #24 "It's impossible to send durable messages with AMQP Sink"
To make messages persistent it's necessary to do two things: make the queue durable and set `DeliveryMode = 2` for each message. The former is simple:
[code]
But the latter is impossible with the current implementation:
[code]
Sample is here https://github.com/vasily-kirichenko/AmqpStreams/blob/master/AmqpStreams1/Program.fs

[2018-01-17 19:12] vasily-kirichenko opened #25 "AMQP Sink does not recover after RabbitMQ server restart"
Run the following code
[code]
Everything is OK, messages are being queued at ~20K/second rate.
Now restart RabbitMQ server. The following error is in the log
[code]
and the messages are not queued anymore.

I thought that `WithAutomaticRecoveryEnabled(true)` reconnects automatically, and `WithSupervisionStrategy(Deciders.ResumingDecider)` resumes the failing stream stage. As a result, I expected m

[2018-01-17 19:38] bobanco commented on #25
you need to use RestartSink ,if you want your sink to restart when the connection drops, so the sink will be recreated with new connection to rabbit.  Also u can combine them with KillSwitch so you can also gracefully stop.

something like this:

[code]

[2018-01-17 19:47] vasily-kirichenko commented on #25
@bobanco Excellent, thanks! :) I completely forgot about `RestartSink` however read about it a week ago.

It works, but it uncover a bug in `PostStop`:
[code]

[2018-01-17 19:51] #25 closed, assigned to nobody

[2018-01-17 19:55] vasily-kirichenko commented on #25
The NRE is fixed in https://github.com/AkkaNetContrib/Alpakka/pull/23

[2018-01-18 19:49] vasily-kirichenko opened #26 "Restarted AMQP Source does not recreates auto-delete queue"
[code]
[code]
It fails with "text="NOT_FOUND - no queue 'task-queue'". I don't understand why.

[2018-01-19 19:10] vasily-kirichenko commented on #26
OK, carefully catching exceptions and `nack`ing task messages works pretty good:
[code]
The problem is that auto-delete queues are owned by channels they are declared by, and if a channel dies, the queues disappear too. `RestartSource` properly re-creates the channel (`IModel`), but not the queue (should it?). So I consider this by design.

[2018-01-19 19:10] #26 closed, assigned to nobody

[2018-01-26 16:49] jblackburn21 opened #28 ".net Core Support for Azure Service Bus"
Has anyone worked on a port to .net core? If not, I can put a PR together. However, one issue is that the message GetBody<T>() no longer exists on the Message, so a direction would need to be decided.

[2018-01-27 13:26] Horusiath commented on #28
@jblackburn21 feel free to send a PR. Regarding `GetBody()` - what's its current replacement?

[2018-01-29 13:45] vasily-kirichenko commented on #22
Pleeeease :)

[2018-01-29 16:55] jblackburn21 commented on #28
@Horusiath it just uses a byte array for the body, and leaves the serialization up to the user. I'm using JSON, but it's probably best to leave it up to the user

For example, sending requires this:
`new Message(Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(messageBody)))`

and receiving requires this:
[code]

On another note, I wasn't able to get ServiceBusSource<T> fully working due to my l

[2018-01-29 23:40] Aaronontheweb commented on #22
@vasily-kirichenko you got it

[2018-01-29 23:42] Aaronontheweb commented on #22
cc @alexvaluyskiy @marcpiechura do we have any CI on place on the `master` branch for this repository at the moment? Or is that a TBD?

[2018-01-30 07:14] vasily-kirichenko commented on #22
@Aaronontheweb Do you mean you've published it? It's not listed on nuget.org

[2018-01-30 16:08] jblackburn21 commented on #28
I have figured out how to handle the graph logic by using the lower level MessageSender and MessageReceiver clients. These provide similar APIs to the older version.

[2018-01-30 16:16] Horusiath commented on #28
@jblackburn21 thanks for figuring that out for yourself. Sorry for not being able to give you any directions. I was not able to respond on time.

[2018-01-30 17:14] jblackburn21 commented on #28
@Horusiath No worries, thanks for helping to maintain these libraries. I'm close to having a PR ready, but have one change that I'm unsure about.

Online line 46 of this gist, I need to make an async call inside of OnMessagesReceived, but I think there should be a better way of handling it. Can you review?

https://gist.github.com/jblackburn21/c0aa337e0231759ec3ac686e6280d755

[2018-01-30 19:59] Horusiath commented on #28
Akka way of working with this kind of behavior is to create a `GetAsyncCallback` and call it upon task completion. This is not beautiful an probably needs some more user-friendly API. I'll leave the comments in your gist example.

[2018-02-01 21:22] Aaronontheweb commented on #22
https://www.nuget.org/packages/Akka.Streams.Amqp/ - ask and ye shall receive

[2018-02-01 21:22] #22 closed, assigned to nobody

[2018-02-02 05:07] vasily-kirichenko commented on #22
Thank you! :)

[2018-03-16 00:20] miscenko commented on #24
you have to use  AmqpSink.create(...) and then set for example:
new OutgoingMessage(elem,false,false,
                        Optional.of(new AMQP.BasicProperties.Builder()
                                .deliveryMode(2).build()),
                        Optional.empty()))

this will create persistent message in rabbit

[2018-03-16 05:11] vasily-kirichenko commented on #24
Yes, thanks.

[2018-03-16 05:11] #24 closed, assigned to nobody

[2018-07-16 17:11] AndreSteenbergen opened #37 "Can't seem to connect to ActiveMQ"
I guess there are differences between RabbitMQ and ActiveMQ. I am getting RabbitMQ.Client.Exceptions.BrokerUnreachableException I know the ActiveMQ broker is up and accepting AMQP messages.

Could this be an issue RabbitMQ is 0.9 AMQP and activeMQ is 1.0 AMQP?

[2018-07-16 17:14] vasily-kirichenko commented on #37
I don't think rabbitmq client can be used to work with ActiveMQ at all.

[2018-07-22 10:48] AndreSteenbergen opened #39 "Brainstorm/ Discussion: Kafka as "persistent" source"
Kafka is a persistent commit log. Because of the persistent nature of Kafka we can use kafka for event sourcing. Here is a nice article about the subject https://dzone.com/articles/event-sourcing-with-kafka. This article describes RocksDb for state.

I think Kafka and Akka could have great synergy. There is just one catch, which is already mentioned in the article as well. Because Kafka uses files

[2018-07-22 10:51] AndreSteenbergen commented on #39
I am going to implement something next week, as I would to streamline some of my actors using the Kafka connector. I am using AMQP to talk to non-trusted remote ActorSystems (running on Phones/ Dekstops/ etc.) and I am using Kafka as my EventSource (retention -1).

[2018-07-24 19:41] Horusiath commented on #39
@AndreSteenbergen There are a lot of doubts when using Kafka as eventsourcing layer - I'm not convinced to use this approach myself, especially in combination with actors where stream-per-actor semantic is pretty important (as it will be used quite often during state replays).

However I see Kafka as a bridge for actor cluster communication and great source for events, that multiple services subsc

[2018-07-25 07:19] AndreSteenbergen commented on #39
I am using Kafka as an event source for about 1.5 years now. I works quite well actually, I did have some strange problems here and there. But that was me not reading the docs correctly. The only thing I needed to do was to let go of the stream-per-actor mindset.

As an event source kafka ticks every box for the needs I see. It is a performant commit-only log for immutable objects.

I don't think

[2018-07-25 09:47] AndreSteenbergen commented on #39
I am not trying to pour Kafka into a PersistentActor. I don't see that working, because of the stream per actor. I am actually trying to go for a coordinator with multiple actors. So 1 Kafka source many Actors; 1 coordinator to start other actors, perhaps even other coordinators.

[2018-07-26 07:30] Horusiath commented on #39
If akka.streams for kafka is (will be) ready, then you can use either PartitionHub, GroupBy, or construct more dedicated GraphStage (i.e. GraphStage equivalent of sharding coordinator) to manage routing messages from kafka to actors.

[2018-07-26 07:38] vasily-kirichenko commented on #39
I use GroupBy partition, works well.

[2018-07-26 07:41] AndreSteenbergen commented on #39
Do you have a source where I can read up on that, PartitionHub, GroupBy and how to create a GraphStage? http://getakka.net/articles/streams/stream-dynamic.html ? It looks partitionHub is not what I have in mind, from the documentation, it looks like I would need to know consuming actors up front.

[2018-07-26 08:02] AndreSteenbergen commented on #39
I am looking te create something like a coordinator e.g. UserCoordinator, with Children, UserActor, one for each unique User in the UsersTopic.

[2018-08-13 21:15] AndreSteenbergen commented on #39
@Horusiath How would I make a Sharding Coordinator, without knowing the number of actors up front? In a dedicated Graphstage? BTW, I just created a Pull Request to allow partition eofs to be handled elsewhere as well.

[2018-08-14 06:27] Horusiath commented on #39
@AndreSteenbergen if you're talking about akka.cluster.sharding - there are no hard laws, but the common rule of thumb when using hash-based message extractors, is to configure maximum number of shards (not actors) to be 10x the maximum expected size of your cluster - so if you expect that in the future your cluster can grow to 100 nodes, set number of shards to 1000.

You can read more about clus

[2018-09-07 13:08] frankhommers opened #43 "Create example of a TcpEchoService (or WebServer) in an Akka.Streams way"
I think that an example of that would be beneficial for a lot of people, including me.

[2018-09-12 11:27] thedavejay opened #44 "Kafka - assignedPartitions is null for ConsumerStage when using TopicPartitionOffset"
Hi there,

I am using the producer for the examples and the same code for the consumer except for 1 difference.

Instead of using Subscriptions.Topics("testtopic"), I am using Subscriptions.AssignmentWithOffset(new TopicPartitionOffset("testtopic", 0, Offset.Beginning));

This all works ok until the buffer is reached and the following code in ConsumerStage throws a an argument null exception as th

[2018-09-12 11:36] thedavejay commented on #44
From what I can tell, it may be better to use _consumer.Assignment to get the assigned partitions that relying on the local variable that gets populated from the OnPartitionAssigned events?

e.g.

[code]

[2018-09-19 17:03] AndreSteenbergen commented on #44
I'll check, to my knowledge the assignedpartitions event is only raised when a subscription is used, and when rebalancing accoured. So I guess you have a point. I'll check in a debug session.

[2018-09-19 17:06] AndreSteenbergen commented on #44
Just to be sure, I changed this code into: _assignedPartitions ?? _consumer.Assignment
I added this into my already existing PR.

[2018-09-21 20:53] AndreSteenbergen opened #45 "Kafka fails stage on producer getting disconnected"
When I use a long running producer without message for longer then 10 minutes the kafka idle time reaper comes along and disconnects the producer. Giving an error. I have never had issues producing after this message.

The ProducerStageLogic however exits with a FailedStage. To my knowledge I don't think this should occur like this. This error is in the logs `9092/bootstrap: Receive failed: Discon

[2018-12-04 14:36] Danthar opened #46 "Azure CloudQueue integration not compatible with Akka.Streams 1.3.10"
Running Akka.Streams 1.3.10 against the current CloudQueue integration causes an MissingMethod exception on the `SetHandler` method call in its `QueueSource.Logic` class.

Its probably some overload that changed or something.

[2019-01-14 13:40] Danthar opened #52 "Prepare Alpakka release"
A number of PR's have been merged lately and we want to put out a new release for Alpakka.

The follow projects need to be updated to the latest version of akka.streams (at the very least).

- Azure projects (Done)
- AMQP project
- Kafka. See https://github.com/AkkaNetContrib/Alpakka/pull/42
- AWS
- CSV
- SNS
- SignalR
- XML

Note that these are all simple update dependencies and increment version

[2019-01-14 13:56] AndreSteenbergen commented on #52
I'll update AMQP v1.0 and Kafka.

[2019-01-14 20:17] ptjhuang commented on #52
SignalR looks like it's still with the old SignalR version. Should there be a new project?

[2019-01-14 20:33] Danthar commented on #52
No. Your right. Its not the latest Signalr. Current latest version is 2.4.0 i think.
Your welcome to update the signalr version as well.

Thats why i said in the starting post. _(at the very least)_ Updating project specific dependencies is also very welcome. But potentially comes with alot more work.
If its an easy update, or if you have the time (when its not). By all means, go right ahead. We w

[2019-01-14 20:35] Danthar commented on #52
Btw. I know a new minor release for akka.net is coming soonish. But don't let that stop anyone.

[2019-01-14 20:56] bobanco commented on #52
AMQP is not up to date with the jvm one, we are few PRs behind, @vasily-kirichenko did some updates last time but i haven't checked if we are still there. If some one wants to take that task it would be good, otherwise i will do it over the weekend.

[2019-01-22 05:17] ptjhuang commented on #52
My question's slightly different.  Current version for .NET fx classic is 2.4.0.  AspNetCore however, is radically different to SignalR for classic .NET FX.  If I modify this version, it would mean we break support for users still using classic .NET FX, as in, they can either have Akka 1.3.11 AND move their entire project to .Net Core, or nothing at all.

So I'm thinking it's more responsible to c

[2019-01-31 09:17] thedavejay commented on #44
Sorry for taking so long to reply. Thanks for that!

[2019-04-26 12:18] kryvicz commented on #22
@Aaronontheweb There is an obsolete version on NuGet and it doesn't work. Could you please publish an updated version. The actual version built from sources works well, so why not to publish it.

[2019-08-31 21:42] siudeks opened #58 "Net Standard Support for Akka Streams Azure Storage Queue"
As a developer working with NET Core / Akka / Azure Storage Queue
I would like to convert existing Azure Storage Queue project to netstandard2
so that it would be reusable with new net core projects same as currently is used with net461

I changed type of project from net461 to netstandard2 and solution is still compilable, tests are green.

[2019-09-02 07:14] siudeks commented on #46
How to reproduce the issue?

[2019-09-02 11:46] Danthar commented on #46
Simply use it. You will get an exception. But i think this issue was already fixed with this PR.
https://github.com/akkadotnet/Alpakka/pull/51
Al it needs is a new release afaik. If that hasn't happened already.

[2019-09-02 11:46] #46 closed, assigned to nobody

[2019-11-18 06:05] Larsus opened #60 "[AMQP] Doesn't work with Akka.Streams v.1.3.6 and higher"
[code]

It looks like you have not update the nuget package after changes:
[pr 32](https://github.com/akkadotnet/Alpakka/pull/35)
[pr 56](https://github.com/akkadotnet/Alpakka/pull/56)

[2020-02-12 15:34] sleipnir opened #61 "AMQP only works in localhost?"
Hello, I am trying to connect a Broker that is not available for localhost. But this example shows how to use NamedQueueSourceSettings.Create (DefaultAmqpConnection.Instance, queueName) .WithDeclarations (queueDeclaration) where DefaultAmqpConnection.Instance implies a local host with no authentication.
Can someone help me?
I would also like to know about the status of this project. Is he active?

[2020-07-15 12:02] anthony-steele-cko opened #63 "SQS example is incorrect"
The demo example [in the README here](https://github.com/akkadotnet/Alpakka/blob/dev/Aws/SQS/README.md) is not correct, does not compile, beccause

`_materializer` is not defined, it is probably meant to be `materializer`.

`.Run(materializer)` does not return something that can be `await` ed.

I can't tell as a newcomer how to fix this, which is a blocker to trying to use this code.

[2020-07-21 05:32] Horusiath commented on #63
You're right, there's a typo in a word `_materializer` (should be `materializer`). Could you share, what type is returned by `Run` method in your case? `SqsAckSink.Grouped` should materialize to .NET Task.

[2020-07-21 08:40] anthony-steele-cko commented on #63
`.Run(materializer)` returns type `NotUsed`.

It looks like `SqsAckSink.Grouped` does return a `Task` as you say, but the code is `.To(SqsAckSink.Grouped(` which is at that point typed as `IRunnableGraph<Akka.NotUsed>`. The `.Select` and `.Create` also have the `Akka.NotUsed`

[2020-07-22 04:41] Horusiath commented on #63
There's an overload of `To` method called `ToMaterialized`, which let's you select which materialized value of two combined streams are you interested in:

[code]

[2020-07-22 08:29] anthony-steele-cko commented on #63
I don't know what  the "materialized value of two combined streams" means yet or why I would pick one over the other.  I was hoping to get the example working in order to find out that kind of thing.

[2020-07-23 14:39] Horusiath commented on #63
Materialized values are more described in the [docs](https://getakka.net/articles/streams/basics.html#defining-and-running-streams) - it's one of the core concepts of akka streams. Basically once stream is materialized, it produces some sort of the output value - this value depends on the particular stages used by the stream itself, and it's developer responsibility to define which of these values

[2020-07-23 15:32] anthony-steele-cko commented on #63
So... is there a working example?

[2020-07-23 15:38] anthony-steele-cko commented on #63
FYI, this at least compiles for me, will try to run it later:

[code]

and, probably more realistic in my case:

[code]

[2020-07-25 13:32] anthony-steele-cko commented on #63
See https://github.com/akkadotnet/Alpakka/pull/64

[2020-08-06 16:20] Arkatufus opened #71 "WindowsAzure.Storage nuget package is deprecated"
We need to modernize the `WindowsAzure.Storage` package to the new `Azure.Storage.Queues`:

From the package description:
NOTE: As of version 9.4.0, this library has been split into multiple parts and replaced:  See https://www.nuget.org/packages/Microsoft.Azure.Storage.Blob/, https://www.nuget.org/packages/Microsoft.Azure.Storage.File/, https://www.nuget.org/packages/Microsoft.Azure.Storage.Queue

[2020-08-08 01:20] Arkatufus opened #83 "System.Threading.Channels might be very racy, especially in .NET Core 3.1"
This test is very racy:
`ChannelSourceSpec.ChannelSource_must_read_incoming_events()`

We still don't know if it is because something changed in the underlying `Task` or `ValueTask` code or because of our own async handling code or a combination of both.

[2020-08-11 03:43] #63 closed, assigned to nobody

[2020-08-11 15:19] Arkatufus commented on #61
You create `AmqpConnectionDetails` by calling `AmqpConnectionDetails.Create(string host, int port)` and then chains it with fluent interface to fill in the rest of the information.

Here is an example of this being used: https://github.com/akkadotnet/Alpakka/blob/dev/src/Amqp/Akka.Streams.Amqp.Tests/AmqpConnectorsTest.cs#L29-L34

You can read the details in the source code here: https://github.com

[2020-08-11 15:34] #61 closed, assigned to nobody

[2020-08-11 15:41] Arkatufus commented on #60
We're overhauling Alpakka right now, this should be fixed in the current dev branch.

[2020-08-11 15:45] Arkatufus commented on #58
We're overhauling the whole Alpakka repo right now. Azure StorageQueue is already updated to the latest version 9.3.3 in the dev branch. We will perform a move from `WindowsAzure.Storage` package to `Azure.Storage.Queues` package after all the dust has settled.

[2020-08-11 20:01] siudeks commented on #58
@Arkatufus so probably the PR can be closed, isn't it ?

[2020-08-11 21:46] Arkatufus opened #93 "RabbitMQ docker container doesn't work in Azure Pipeline Linux container"
There are several anomalies related with Akka.Streams.AMQP.V1 and the RabbitMQ docker container running under the ubuntu-18.04 Azure Pipelines image.

For the V1.0 plugin, our code could not establish any AMQP handshake with the container:
[code]
It appears from the frame log that the broker immediately closes the TCP socket as soon as the client sends a `SEND AMQP 3 1 0 0` to start a handshake, a

[2020-08-11 21:48] Arkatufus commented on #93
Note that the docker container image was tested fine on my computer as a background application, so that should rule out that it was a botched/buggy RabbitMQ build.

[2020-08-11 23:40] Arkatufus opened #96 "Move docker image repo account to akkadotnet"
Right now, all of the docker images used in unit testing are pushed to my private dockerhub account, we need to move this to the akkadotnet owned account.

[2020-08-12 00:06] #60 closed, assigned to nobody

[2020-08-12 00:07] Arkatufus commented on #58
Yessir :)

[2020-08-12 00:07] #58 closed, assigned to nobody

[2020-08-12 13:43] #71 closed, assigned to nobody

[2020-08-13 03:32] Arkatufus opened #107 "[Overhaul] Missing items in current Alpakka repo"
These items are currently missing from Alpakka:
- [x] Amqp documentation
- [ ] Amqp samples
- [ ] Amqp V1 documentation
- [ ] Amqp V1 samples
- [ ] Akka.Streams.Azure.ServiceBus.Tests
- [ ] Akka.Streams.Azure.EventHub.Tests
- [ ] Akka.Streams.Azure.StorageQueue documentation
- [ ] Csv documentation
- [ ] Csv samples
- [ ] Akka.Streams.SignalR.Tests
- [ ] Xml samples

[2020-08-13 14:51] #83 closed, assigned to nobody

[2020-08-14 19:29] Arkatufus commented on #45
Akka.Streams.Kafka have been moved out of Alpakka into its own Github repo.
Closing this issue. Please re-open them in https://github.com/akkadotnet/Akka.Streams.Kafka if you're still having this problem.

[2020-08-14 19:29] #45 closed, assigned to nobody

[2020-08-14 19:30] Arkatufus commented on #44
Akka.Streams.Kafka have been moved out of Alpakka into its own Github repo.
Closing this issue. Please re-open them in https://github.com/akkadotnet/Akka.Streams.Kafka if you're still having this problem.

[2020-08-14 19:30] #44 closed, assigned to nobody

[2020-08-14 19:31] Arkatufus commented on #39
Akka.Streams.Kafka have been moved out of Alpakka into its own Github repo.
Closing this issue. Please re-open them in https://github.com/akkadotnet/Akka.Streams.Kafka if you're still having this problem.

[2020-08-14 19:31] #39 closed, assigned to nobody

[2020-08-14 19:31] Arkatufus commented on #10
Akka.Streams.Kafka have been moved out of Alpakka into its own Github repo.
Closing this issue. Please re-open them in https://github.com/akkadotnet/Akka.Streams.Kafka if you're still having this problem.

[2020-08-14 19:31] #10 closed

[2020-08-14 19:34] Arkatufus commented on #37
Will need to investigate if `RabbitMQ.Client` can be used as a universal AMQP client. If not, then we would have to find an alternative, or rename the package to `Akka.Streams.Amqp.RabbitMq`

[2020-08-14 19:37] Arkatufus commented on #28
The `Akka.Stream.Azure.ServiceBus` is now compiled as a .NET Standard 2.0 package, and it should be compatible with the latest .NET Core.

[2020-08-14 19:37] #28 closed, assigned to nobody

[2020-08-14 20:32] #96 closed, assigned to nobody

[2020-08-14 20:47] sleipnir opened #119 "Kafka with Azure Event Hub"
I'm trying to find some example of using Akka.NET Streams to consume Kafka events from the Azure Event Hub. It seems to me that Kafka support does not support the authentication required to connect to Azure Hub, but I may be mistaken. If anyone has an example I would appreciate it very much.

I'm not actually a .Net developer by nature. In Java or Scala using Akka Streams I would configure my appl

[2020-08-19 20:15] Arkatufus commented on #119
`Akka.Streams.Kafka` is now a separate standalone project and are not part of the Alpakka repo, it is probably best if you move this issue to https://github.com/akkadotnet/Akka.Streams.Kafka

[2020-08-19 21:41] sleipnir commented on #119
Thanks @Arkatufus

[2020-08-21 19:42] #119 closed, assigned to nobody

[2020-09-03 18:15] Aaronontheweb opened #158 "Add debug logging to Kinesis Stages"
In order to make it easier to debug connectivity issues with AWS Kinesis, we should add some debug logging in these areas:

https://github.com/akkadotnet/Alpakka/blob/c0ba451afbd3dca1a58d2a330cdc1423f27de0c2/src/AWS/Kinesis/Akka.Streams.Kinesis/KinesisSourceStage.cs#L158-L168

Some pseudo code:

[code]

[2020-09-03 21:54] vkulikov opened #159 "StartingSequenceNumber not copied into GetShardIteratorRequest"
https://github.com/akkadotnet/Alpakka/blob/26a9e78fd778fc7b9090a182db34bc685dee2c07/src/AWS/Kinesis/Akka.Streams.Kinesis/KinesisSourceStage.cs#L100-L108

`StartingSequenceNumber` must be copied when `ShardIteratorType` is set to `AFTER_SEQUENCE_NUMBER` or `AT_SEQUENCE_NUMBER`

[2020-09-08 08:49] vasily-kirichenko opened #164 "Using AmqpConnectionDetails with SSL enabled always results with "localhost" endpoint"
The following connection details:
[code]
results with a `ConnectionFactory`, which's `Endpoint` is `localhost`.

A workaround: use `AmqpConnectionUri.Create("amqps://foo:1@host22:5671")` instead.

[2020-09-09 16:32] Aaronontheweb commented on #164
@vasily-kirichenko is this a bug with our code or the driver being used?

[2020-09-09 16:33] Aaronontheweb commented on #159
Closed via #160

[2020-09-09 16:33] #159 closed, assigned to nobody

[2020-09-09 16:44] Aaronontheweb opened #173 "Add nightly build support"
So users can get access to nightlies.

[2020-09-09 16:44] Aaronontheweb commented on #52
This is done

[2020-09-09 16:44] #52 closed, assigned to nobody

[2020-09-09 16:48] vasily-kirichenko commented on #164
The driver?.. I'm not sure what you mean. I just expect the code ^^ to connect to "host22" via SSL, but it connects to "localhost".

[2020-09-09 16:53] Aaronontheweb commented on #164
My bad, thought it might be an issue with the RabbitMQ driver - but no, it's probably an issue with how we propagate settings here:

https://github.com/akkadotnet/Alpakka/blob/128574007475512834c7d65307a90d4f9ad8ab43/src/Amqp/Akka.Streams.Amqp.RabbitMq/AmqpConnector.cs#L13-L51

I'll ask @Arkatufus to look at it

[2020-09-09 16:57] vasily-kirichenko commented on #164
Yeah, in the working branch:
[code]
the Uri setter (which is in RabbitMQ.Client library) does a lot of work (like constructing SslOptions if the schema is `amqps` and so on). I think it would be a good idea to check if that logic is copied here.

[2020-09-09 16:59] Aaronontheweb commented on #164
`AmqpConnectionDetails` doesn't inherit from `AmqpConnectionUri` so that code _shouldn't_ be called, but it's something we can test easily enough.

[2020-09-09 16:59] vasily-kirichenko commented on #164
Or, even better, just provide a details derivative which accepts a seq of raw amqp(s) Uris, and let RabbitMQ.Client lib parse them.

[2020-09-09 17:00] vasily-kirichenko commented on #164
I mean, to provide a bunch of Uris in case of RMQ cluster.

[2020-10-27 16:30] #164 closed, assigned to Arkatufus

[2020-10-28 21:24] #158 closed, assigned to Arkatufus

[2020-12-01 13:40] sleipnir opened #288 "Amqp Connector don't work with RestartSource"
HI guys!
I am trying to create a Reconnectable Source with RestartSource using Akka Streams Amqp.V1 and some strange things happen. When I disconnect the network, RestartSource does not try to reconnect again and no message is printed in the logs. However, when I receive an invalid message (type incompatible) it restarts my source. I am not sure why this is so and I would like to know if you have

[2020-12-03 22:35] sleipnir commented on #288
Ping

[2020-12-07 12:43] Arkatufus opened #296 "Manual commit Azure EventHub source feature"
Need an Azure EventHub source that supports manual commits to support atomic operation on events.

[2020-12-17 18:38] Arkatufus commented on #288
This is actually by design. because the `Source` object does not have any reference to the AMQP `Connection` object, it does not have a direct way of reconnecting with the server.
Try moving the `Connection` and `Session` initialization into the source factory `Func` in the `RestartSource.OnFailuresWithBackoff` method argument.

[2020-12-17 19:46] Arkatufus commented on #288
I might be mistaken, there might be some problem with the way connections were made inside the connector that prevents retry

[2020-12-17 19:49] Arkatufus commented on #288
The PR should address the problem. I've included examples on how to make both `Sink` and `Source` resistant to transient connection problems.

[2020-12-17 20:14] sleipnir commented on #288
Hi @Arkatufus Can you tell me when we will have a version with this correction published via nuget?

[2020-12-18 07:03] Arkatufus commented on #288
As soon as someone reviewed the changes and approved it.

[2020-12-18 15:07] sleipnir commented on #288
@Aaronontheweb can you take a look at this? I look forward to putting the first software made using Akka.Net in my company and that is a deterrent

[2020-12-18 15:23] Aaronontheweb commented on #288
I'm reviewing it now

[2020-12-18 16:29] #288 closed, assigned to Arkatufus

[2020-12-18 17:05] sleipnir commented on #288
Thanks @Aaronontheweb

[2020-12-18 17:09] Aaronontheweb commented on #288
@sleipnir this is now live on NuGet as Alpakka v1.0.0-beta3 https://github.com/akkadotnet/Alpakka/releases/tag/1.0.0-beta3

[2020-12-18 17:09] Aaronontheweb commented on #37
@Arkatufus can I close this issue?

[2020-12-18 18:47] sleipnir commented on #288
Awesome work guys! Thank you @Aaronontheweb  and @Arkatufus

[2021-02-04 22:05] Arkatufus opened #366 "DockerClient.Images.ListImagesAsync() could not use MatchName anymore."
Change `DockerClient.Images.ListImagesAsync()` in docker fixture to use `Filters` instead of `MatchName`

[2021-02-08 17:09] #366 closed, assigned to Arkatufus

[2021-07-23 03:04] rmt2021 opened #593 "Flaky tests when transient error/delay happens"
**Version Information**
21710e909b88ffe19d0e2c99ce9a3f4820230f8f

## Describe the bug
We find a few unit tests fail undeterministically due to different reasons when the Azure Storage service is unstable:
[code]

For example, hardcoded timeout is often used in the test code like
[code]
which expects `t` finishes within 3 seconds.
If the Azure API called by `t` gets processed slower than usual (whe

[2021-08-27 13:19] Aaronontheweb opened #635 "Need to migrate SignalR.Core packages to Microsoft.AspNet.SignalR"
https://www.nuget.org/packages/Microsoft.AspNet.SignalR - this is what we should be targeting inside, rather than:

https://github.com/akkadotnet/Alpakka/blob/145a17caa74d4e583591e52ecad97f4e6362279b/src/SignalR.AspNetCore/Akka.Streams.SignalR.AspNetCore/Akka.Streams.SignalR.AspNetCore.csproj#L13

[2021-08-27 17:39] Arkatufus commented on #635
Microsoft.AspNet.SignalR is actually the old version that targets Net Framework, its getting deprecated.
https://docs.microsoft.com/en-us/previous-versions/aspnet/jj919047(v=vs.118)

[2021-08-31 18:12] Arkatufus commented on #635
Closed by #639

[2021-08-31 18:12] #635 closed, assigned to nobody

[2021-11-18 08:59] ismaelhamed opened #777 "More frequent releases"
For instance, the `LogRotatorSink` was contributed in October but it's still not available. Maybe we could force a new release at least right after every Akka.NET release?

Also related to #173

[2021-12-10 17:55] ismaelhamed commented on #777
@Aaronontheweb any thoughts?

[2021-12-10 18:06] Arkatufus commented on #777
@ismaelhamed sounds good, I'll put that in my to do list

[2021-12-14 01:56] #777 closed, assigned to nobody

[2022-02-14 08:06] wesselkranenborg opened #861 "Akka.Streams.EventHubs uses a deprecated Azure SDK (WindowsAzure.ServiceBus 6.2.0)"
**Version Information**
Version of Akka.NET? N/A
Which Akka.NET Modules? Akka.Streams.EventHubs

**Describe the bug**
It's not actually a bug but a maintenance request as the Akka.Streams.EventHubs package is using SDK WindowsAzure.ServiceBus 6.2.0. In August 2017 a new SDK version was released by Microsoft to replace this SDK: Microsoft.Azure.ServiceBus. This SDK is however also already replaced

[2022-03-16 10:57] wesselkranenborg commented on #861
We now switched to using the Kafka protocol. You can enable that on EventHubs which also works fine.

[2022-03-16 16:30] Aaronontheweb commented on #861
@eaba let's work on switching this over

[2022-03-17 18:28] eaba commented on #861
On it!

[2022-04-20 14:12] Aaronontheweb opened #963 "[Docs] need to explain when to use Akka.Streams.RabbitMQ vs Akka.Streams.AMQP"
**Please describe what you are trying to understand**
It's not clear to me, a RabbitMQ / AMQP novice, which of these two libraries I should be using and why.

[2022-04-20 14:13] Aaronontheweb commented on #963
We need to add this to the Alpakka docs but also probably in the README for the directory these two are located in

[2022-04-20 14:13] Aaronontheweb commented on #593
This is how I would do it. Let me know if you still are available to submit a PR

[2022-04-20 14:16] Aaronontheweb commented on #963
https://github.com/akkadotnet/Alpakka/pull/38 - is Rabbit still AMQP 1.0 incompatible?

[2022-04-20 14:17] Aaronontheweb commented on #963
Looks like that's the case: https://www.rabbitmq.com/specification.html

[2022-05-09 14:30] anggiputper commented on #861
Hi,

Any update on this issue?
I have an issue which I think is similar topic. I have an Akka.Net project that targeting .Net 6, but when I added the latest beta version of Akka.Streams.EventHub, my build throws conflict warning because the dependency libraries such as Microsoft.Azure.ServiceBus.EventProcessorHost and WindowsAzure.ServiceBus are dependent on .Net Framework.

Will this update solve

[2022-05-09 14:59] Aaronontheweb commented on #861
@anggiputper can you post the error message from NuGet?

[2022-05-09 15:01] anggiputper commented on #861
Sure! I have not tried to run the project, so it is just compile warning.

`warning NU1701: Package 'Microsoft.Azure.ServiceBus.EventProcessorHost 5.0.1' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework 'net6.0'.

[2022-05-10 20:57] Arkatufus commented on #861
This is not as simple as it sounds, in `Azure.Messaging.EventHub`, Microsoft basically changed the whole API surface, the only way to support this without creating a lot of headaches for all our users is to basically create a "versioned" EventHub plugin for each of the NuGet namespace changes.

I haven't looked into this, but we might still able to support the `Microsoft.Azure.ServiceBus`.

We'll

[2022-05-10 21:05] Arkatufus commented on #861
What I'm proposing is this:
- We will leave the `Akka.Streams.Azure.EventHub` NuGet package for the old package that uses the `WindowsAzure.ServiceBus` NuGet package,
- Create a new `Akka.Streams.Azure.EventHub.V4` NuGet package that supports `Microsoft.Azure.ServiceBus` only if there are a huge request for this. This package is, after all, will be deprecated really soon. If the API is still compa

[2022-05-10 21:05] Arkatufus commented on #861
CC @wesselkranenborg @anggiputper

[2022-05-11 18:31] Arkatufus commented on #861
We've decided to update the current implementation to `Microsoft.Azure.EventHubs` and maybe create a separate NuGet package for `Azure.Messaging.EventHubs`.

[2022-05-31 18:23] pavoldecky opened #994 "Akka.Streams.Channels ChannelSource is failing in the middle of processing with TaskCanceledException"
**Version Information**
Version of Akka.NET? 1.4.38
Which Akka.NET Modules? Akka.Streams 1.4.38, Akka.Streams.Channels 1.0.0-beta9

**Describe the bug**
I noticed strange behavior during working with Akka.Streams.Channels ChannelSource. I decided to use Channels as my backing store for some objects. I created ChannelSource to read these data in batches and send them to Azure Service Bus. Everythin

[2022-06-02 14:21] Arkatufus commented on #861
Support added with the new `Akka.Streams.Azure.EventHub.V5` package.

[2022-06-02 14:21] #861 closed, assigned to nobody

[2022-06-02 14:27] Arkatufus opened #1002 "Merge `Akka.Streams.Azure.EventHub.V5` into `Akka.Streams.Azure.EventHub`"
This will be done in the future.

- Replace `Akka.Streams.Azure.EventHub` with `Akka.Streams.Azure.EventHub.V5`
- Deprecate `Akka.Streams.Azure.EventHub.V5` NuGet package.
- No earlier than October 2022

[2022-06-03 08:42] ismaelhamed commented on #173
@Aaronontheweb @Arkatufus I can see the nightly build is there, but I'm not sure if you guys are not publishing it or if you haven't made the feed publicly available (is a different one from Akka.NET's)

[2022-06-03 14:35] Aaronontheweb commented on #173
Yeah looks like I still need to implement this - working on it now

[2022-06-03 14:47] Aaronontheweb commented on #173
This is now working - uses the same nightly build feed as Akka.NET: https://getakka.net/community/getting-access-to-nightly-builds.html

[2022-06-03 14:47] #173 closed, assigned to nobody

[2022-06-06 17:14] Aaronontheweb commented on #994
We'll look into this

[2022-07-23 16:17] Aaronontheweb commented on #994
@to11mtm was this related to your fix or something else?

[2022-07-24 18:07] to11mtm commented on #994
@Aaronontheweb based on the info, I don't think this is related to my changes in #1068; those were on the `Sink` side and this appears to be `Source` side.

I would suggest considering the following, if one is worried about races in the if logic of the `Source`:

[code]

Fault cases should be fairly infrequent, so just using the continuation every time should be OK.

[2022-07-25 10:28] pavoldecky commented on #994
hi, I can confirm that the suggested code change helped with my issue, and everything is working as expected, thanks for the help

[2022-07-27 17:00] #994 closed, assigned to nobody

[2022-08-08 16:16] #593 closed, assigned to nobody

[2022-08-31 14:24] shawndewet opened #1137 "QueueSource does not remove processed messages from the Azure Storage Queue"
**Version Information**
Version of Akka.NET? 1.4.40
Which Akka.NET Modules? Akka.Streams.Azure.StorageQueue

**Describe the bug**
QueueSource does not remove processed messages from the Azure Storage Queue.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an Actor that consumes from an Azure Storage Queue Stream, like so:
[code]

2. Let the actor run.  Notice how, after the default Vis

[2022-08-31 14:40] shawndewet commented on #1137
I just realized this may be by design?!?  In that it should be up to the consumer of the Message (the Actor receiving the message) to remove the message from the Queue after processing it?
In which case, I reckon this becomes more of a request to update the documentation to make this clear.  Had me stuck on this for hours.

[2022-08-31 19:38] Arkatufus commented on #1137
@shawndewet yes, this is by design. The stream itself is not responsible of removing items from the queue, it just reads and emits them as a stream sequentially as it was sent from the server. It does set the item visibility to invisible by the amount of time specified so that it will not be re-emitted before the invisibility timeout expires.

[2022-08-31 19:43] Arkatufus commented on #1137
We will be adding documentation to the module, sorry for the trouble it caused you.

[2022-09-01 02:40] #1137 closed, assigned to nobody

[2022-09-01 02:45] shawndewet opened #1141 "Please indicate that the Azure Storage Queue Stream consumer is to delete consumed messages from the Azure Queue"
**Please describe what you are trying to understand**
In trying to build my first Actor that sets up a Stream over Azure Storage Queue, I was stuck for a few hours trying to figure out why the Stream keeps returning the same message over and over.

**Which pages have you looked at?**
https://alpakka.getakka.net/documentation/Azure/StorageQueue.html

**What did these pages not make clear?**
That th

[2022-09-01 02:47] Aaronontheweb commented on #1141
@shawndewet I agree - we need to make some things clearer in our documentation for Alpakka.

[2022-09-01 02:53] shawndewet commented on #1141
I finally realized this when I read the Microsoft documentation on Azure Storage Queues [here](https://docs.microsoft.com/en-us/azure/storage/queues/storage-tutorial-queues?tabs=dotnet%2Cenvironment-variable-windows#dequeue-messages).

[2022-09-14 16:51] rmt2021 opened #1162 "IndexOutOfRangeException happens when trying to get the queue message"
**Version Information**
3d881af4f4831cb33a319aeda95ed13ceb61da5c

### Describe the bug
When using `SendNext` method to send a message to the queue based on Azure Queue service, it may encounter transient errors (e.g., 503). So the Queue [`SendMessageAsync`](https://github.com/akkadotnet/Alpakka/blob/d38cd175f73ceecd55186ea4e26adfe8473a4dd7/src/Azure/Akka.Streams.Azure.StorageQueue/QueueSink.cs#L63

[2022-09-15 15:05] Arkatufus commented on #1162
@rmt2021 What are the steps that you took to reproduce the bug?

[2022-09-16 14:30] Aaronontheweb commented on #1162
So it's actually the `Source` that is failing here by the sound of it? But there's no source inside our own adapter that could throw an IndexOutOfRangeException? Isn't this error coming from inside the Azure Storage Queues driver itself?

[2022-10-03 13:30] Arkatufus commented on #1162
@rmt2021 are you still having this problem?